body {
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
    font-size: 16px !important;
}

ul {
    list-style: none;
    padding: 0;
}

.page-header {
    text-align: center;
    margin: 10px 0 20px;
    color: #333;
}

.stats .stat {
    margin: 5px 0;
}

.stats .stat a {
    text-decoration: none;
}

.curreny {
    font-weight: 300 !important;
    font-size: 0.6em;
}

.card {
    border: 0;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

select,
select.form-control {
    padding: 0.5rem;
}

/* Start Banner */
header.banner {
    background-color: #050a19;
    color: #fff;
    display: flex;
    align-items: center;
    height: 100vh;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #ddeeff;
}

.banner h2 {
    font-size: 2rem;
    font-weight: 200;
    color: #a8bdd2;
    margin-top: 1rem;
    line-height: 1.5;
}

.banner .particles-js-canvas-el {
    position: absolute;
}
/* End Banner */
